<div class="wrapper-md bg-light" ng-controller="WorkOrderAttrsViewCtrl">
    <!-- tip pop -->
    <toaster-container></toaster-container>
    <!--- attributes -->
    <div class="clearfix m-b">
        <button class="btn m-b-xs btn-sm btn-primary btn-addon" ng-click="createItem()">
            <i class="fa fa-plus"></i>新建属性</button>
        <button class="btn m-b-xs btn-sm btn-primary btn-addon" ng-click="updateItem()">
            <i class="fa fa-plus"></i>编辑属性</button>
        <button class="btn m-b-xs btn-sm btn-primary btn-addon" ng-click="deleteItem()">
            <i class="fa fa-remove"></i>删除属性</button>
    </div>
    <div class="w-auto-xs bg-light dk bg-auto b-l">
        <div ui-grid="attrGridOptions" style="width: 100%; height: 100%;"
             ui-grid-edit ui-grid-pagination ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize>
        </div>
    </div>
</div>
<script type="text/ng-template" id="deleteTemplate">
    <div class="modal-header">
        <h4 class="modal-title">删除自定义属性</h4>
        <div class="modal-body">
            <p>你确定要删除 {{items[0].propertyName}} 吗?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
            <button type="submit" class="btn btn-primary" ng-click="removeItem()">保存</button>
        </div>
    </div>
</script>