<!-- create new attribute -->
<div class="panel panel-default" ng-controller="WorkOrderAttrUpdateViewCtrl">
    <div class="panel-heading">
        编辑自定义属性
    </div>
    <div class="panel-body">
        <form class="form-horizontal form-validation" name="attrForm" novalidate ng-submit="saveItem(attrForm.$valid)">
            <div class="form-group">
                <label class="col-sm-2 control-label">格式</label>
                <div class="col-sm-7">
                    <select name="format" class="form-control" ng-model="attr.format" required>
                        <option value="link">link</option>
                        <option value="array">列表</option>
                        <option value="string">字符串</option>
                        <option value="datetime">日期</option>
                        <option value="boolean">布尔值</option>
                        <!--<option ng-repeat="item in baseEnum.format" ng-selected="item==currentAttr.format" value="{{item}}">-->
                            <!--{{item}}-->
                        <!--</option>-->
                    </select>
                </div>
                <span class="tip">*</span>
                <span class="tip" ng-if="attrForm.name.$touched" ng-hide='!attrForm.format.$error'>必填项</span>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">名称</label>
                <div class="col-sm-7">
                    <input type="text" name="name" class="form-control" ng-model="attr.name" ng-minlength="3" ng-maxlength="256" required>
                </div>
                <span class="tip">*</span>
                <span class="tip" ng-if="attrForm.name.$touched" ng-hide='!attrForm.name.$error'>必填项,且字符长度限制在3~256之间</span>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">文本格式</label>
                <div class="col-sm-7">
                    <input type="checkbox" checked="checked" ng-model="attr.textFormat" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">默认值</label>
                <div class="col-sm-7">
                    <input type="text" name="defaultValue" class="form-control" ng-model="attr.defaultValue" required>
                </div>
                <span class="tip">*</span>
                <span class="tip" ng-if="attrForm.name.$touched" ng-hide='!attrForm.defaultValue.$error'>必填项</span>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">描述</label>
                <div class="col-sm-7">
                    <textarea ui-jq="wysiwyg" class="form-control" ng-model="attr.describe"
                              style="overflow:scroll;height:100px;max-height:200px">
                    </textarea>
                </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <button type="button" class="btn btn-default" ng-click="backToMain()">取消</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="attrForm.$invalid">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
