<div class="bg-light lter b-b wrapper-md" >
    <h1 class="m-n font-thin h3">我的工单</h1>
</div>
<!-- create new workOrder -->
<div class="panel panel-default" >
    <div class="panel-heading">
        新建工单
    </div>
    <div class="panel-body">
        <form  class="file-brief file-brief-show form-validation" name="createWorkOrder" ng-submit="saveItem()">
            <!--分类-->
            <div class="form-group ">
                <div  class="col-sm-6 m-t-xs m-b-xs no-padder ">
                    <div class="form-group">
                        <label class="col-md-offset-1 col-sm-offset-1 col-md-2 col-sm-2 control-label" style="margin-left:3%;text-align:right;line-height: 37px;">分类</label>
                        <div class="col-md-6 col-sm-6 no-padder-sm"  style="width:80%;">
                            <select class="form-control"  name="typeCode"  ng-model="workorderType" ng-options="item.typeName for item in typeCodeList" required style="width:70%;display:inline;margin-top: 0px">
                                <!--<option  value="" ng-if="items.propertyDefaultValue==''" >-请选择-</option>-->
                                <!--<option ng-repeat="item in typeCodeList" value="{{item.id}}">{{item.typeName}}</option>-->
                            </select>
                            <div  style="display:inline;color:red;">
                                <span  class="no-null" style="margin-left:2%;">*</span>
                                <div ng-messages="createWorkOrder.typeCode.$error" ng-if="createWorkOrder.typeCode.$touched" style="display:inline">
                                    <div ng-message="required" style="display:inline">必填项不能为空</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--主题-->
            <div class="form-group ">
                <div  class="col-sm-6 m-t-xs m-b-xs no-padder ">
                    <div class="form-group">
                        <label class="col-md-offset-1 col-sm-offset-1 col-md-2 col-sm-2 control-label" style="margin-left:3%;text-align:right;line-height: 37px;">主题</label>
                        <div class="col-md-6 col-sm-6 no-padder-sm"  style="width:80%;">
                            <input class="form-control" type="text"  name="title" ng-model="createValue.title" style="width:70%;display:inline;margin-top: 0px"  required/>
                            <div  style="display:inline;color:red;">
                                <span class="no-null" style="margin-left: 2%;">*</span>
                                <div ng-messages="createWorkOrder.title.$error" ng-if="createWorkOrder.title.$touched" style="display:inline;">
                                    <div ng-message="required" style="display:inline;">必填项不能为空</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--优先级-->
            <div class="form-group ">
                <div  class="col-sm-6 m-t-xs m-b-xs no-padder ">
                    <div class="form-group">
                        <label class="col-md-offset-1 col-sm-offset-1 col-md-2 col-sm-2 control-label" style="margin-left:3%;text-align:right;line-height: 37px;">优先级</label>
                        <div class="col-md-6 col-sm-6 no-padder-sm"  style="width:80%;">
                            <select class="form-control"  name="priority" ng-model="createValue.priority" required style="width:70%;display:inline;margin-top: 0px">
                                <!--<option  value="" ng-if="items.propertyDefaultValue==''" >-请选择-</option>-->
                                <option ng-repeat="item in priorityList" value="{{item.priorityValue}}">{{item.priorityName}}</option>
                            </select>
                            <div  style="display:inline;color:red;">
                                <span  class="no-null" style="margin-left:2%;">*</span>
                                <div ng-messages="createWorkOrder.priority.$error" ng-if="createWorkOrder.priority.$touched" style="display:inline">
                                    <div ng-message="required" style="display:inline">必填项不能为空</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--产品分类-->
            <div class="form-group ">
                <div  class="col-sm-6 m-t-xs m-b-xs no-padder ">
                    <div class="form-group">
                        <label class="col-md-offset-1 col-sm-offset-1 col-md-2 col-sm-2 control-label" style="margin-left:3%;text-align:right;line-height: 37px;">问题分类</label>
                        <div class="col-md-6 col-sm-6 no-padder-sm"  style="width:80%;">
                            <select class="form-control"  name="productType" ng-model="createValue.productType" required style="width:70%;display:inline;margin-top: 0px">
                                <!--<option  value="" ng-if="items.propertyDefaultValue==''" >-请选择-</option>-->
                                <option ng-repeat="item in productTypeList" value="{{item.productType}}">{{item.productName}}</option>
                            </select>
                            <div  style="display:inline;color:red;">
                                <span  class="no-null" style="margin-left:2%;">*</span>
                                <div ng-messages="createWorkOrder.productType.$error" ng-if="createWorkOrder.productType.$touched" style="display:inline">
                                    <div ng-message="required" style="display:inline">必填项不能为空</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--创建人-->
            <div class="form-group ">
                <div  class="col-sm-6 m-t-xs m-b-xs no-padder ">
                    <div class="form-group">
                        <label class="col-md-offset-1 col-sm-offset-1 col-md-2 col-sm-2 control-label" style="margin-left:3%;text-align:right;line-height: 37px;">创建人</label>
                        <div class="col-md-6 col-sm-6 no-padder-sm"  style="width:80%;">
                            <input class="form-control" ng-disabled="true" type="text"  name="ownerName" ng-model="createValue.ownerName" style="width:60%;display:inline;margin-top: 0px"  required/>
                            <button type="button" ng-click="selectCustomer()">选择</button>
                            <div  style="display:inline;color:red;">
                                <span class="no-null" style="margin-left: 2%;">*</span>
                                <div ng-messages="createWorkOrder.ownerName.$error" ng-if="createWorkOrder.ownerName.$touched" style="display:inline;">
                                    <div ng-message="required" style="display:inline;">必填项不能为空</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--联系人-->
            <div class="form-group ">
                <div  class="col-sm-6 m-t-xs m-b-xs no-padder ">
                    <div class="form-group">
                        <label class="col-md-offset-1 col-sm-offset-1 col-md-2 col-sm-2 control-label" style="margin-left:3%;text-align:right;line-height: 37px;">联系人</label>
                        <div class="col-md-6 col-sm-6 no-padder-sm"  style="width:80%;">
                            <input class="form-control" type="text"  name="contactName" ng-model="createValue.contactName" style="width:70%;display:inline;margin-top: 0px"  required/>
                            <div  style="display:inline;color:red;">
                                <span class="no-null" style="margin-left: 2%;">*</span>
                                <div ng-messages="createWorkOrder.contactName.$error" ng-if="createWorkOrder.contactName.$touched" style="display:inline;">
                                    <div ng-message="required" style="display:inline;">必填项不能为空</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--联系电话-->
            <div class="form-group ">
                <div  class="col-sm-6 m-t-xs m-b-xs no-padder ">
                    <div class="form-group">
                        <label class="col-md-offset-1 col-sm-offset-1 col-md-2 col-sm-2 control-label" style="margin-left:3%;text-align:right;line-height: 37px;">联系电话</label>
                        <div class="col-md-6 col-sm-6 no-padder-sm"  style="width:80%;">
                            <input class="form-control" type="text"  name="contactPhone" ng-model="createValue.contactPhone" style="width:70%;display:inline;margin-top: 0px"  validatephone required/>
                            <div  style="display:inline;color:red;">
                                <span class="no-null" style="margin-left: 2%;">*</span>
                                <div ng-messages="createWorkOrder.contactPhone.$error" ng-if="createWorkOrder.contactPhone.$touched" style="display:inline;">
                                    <div ng-message="required" style="display:inline;">必填项不能为空</div>
                                    <div ng-message="validatephone" style="display:inline;">格式不正确号</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--描述-->
            <div class="form-group ">
                <div  class="col-sm-12 m-t-xs m-b-xs no-padder " >
                    <div class="form-group">
                        <label class="col-md-offset-1 col-sm-offset-1 col-md-1 col-sm-2 control-label" style="margin-left:1.333333%;text-align:right;line-height: 37px;">描述</label>
                        <div class="col-md-6 col-sm-6 no-padder-sm"  style="width:90%;">
                            <textarea class="form-control" name="description" ng-model="createValue.description"  required style="width:87.2%;display:inline;margin-left: 2px;margin-top: 0px"></textarea>
                            <div  style="display:inline;color:red;">
                                <span class="no-null" style="margin-left: 1%;">*</span>
                                <div ng-messages="createWorkOrder.description.$error" ng-if="createWorkOrder.description.$touched" style="display:inline;">
                                    <div ng-message="required" style="display:inline;">必填项不能为空</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group " ng-repeat="items in properties" ng-show="items.isVisible|dit">
                <div ng-if="items.propertyType=='select'" class="col-sm-6 m-t-xs m-b-xs no-padder " >
                    <div class="form-group">
                        <label class="col-md-offset-1 col-sm-offset-1 col-md-2 col-sm-2 control-label" title="{{items.propertyName}}" style="margin-left:3%;text-align: right;line-height: 37px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{items.propertyName}}</label>
                        <div class="col-md-6 col-sm-6 no-padder-sm"  style="width:80%;">
                            <select class="form-control"  ng-disabled="items.readOnly|dit" name="{{items.propertyKey}}" ng-model="items.propertyValue" ng-required="items.isRequired|dit" style="width:70%;display:inline;margin-top: 0px">
                                <option  value="" ng-if="items.propertyDefaultValue==''" >-请选择-</option>
                                <option ng-repeat="item in items.propertyOptions" value="{{item.optionValue}}">{{item.optionName}}</option>
                            </select>
                            <div ng-if="items.isRequired|dit" style="display:inline;color:red;">
                                <span  class="no-null" style="margin-left:2%;">*</span>
                                <div ng-messages="createWorkOrder[items.propertyKey].$error" ng-if="createWorkOrder[items.propertyKey].$touched" style="display:inline">
                                    <div ng-message="required" style="display:inline">必填项不能为空</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="items.propertyType=='text'" class="col-sm-6 m-t-xs m-b-xs no-padder ">
                    <div class="form-group">
                        <label class="col-md-offset-1 col-sm-offset-1 col-md-2 col-sm-2 control-label" title="{{items.propertyName}}" style="margin-left:3%;text-align:right;line-height: 37px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{items.propertyName}}</label>
                        <div class="col-md-6 col-sm-6 no-padder-sm"  style="width:80%;">
                            <input class="form-control" ng-disabled="items.readOnly|dit" type="text"  name="{{items.propertyKey}}" ng-model="items.propertyValue" style="width:70%;display:inline;margin-top: 0px" value="{{items.propertyDefaultValue}}" ng-required="items.isRequired|dit"/>
                            <div ng-if="items.isRequired|dit" style="display:inline;color:red;">
                                <span class="no-null" style="margin-left: 2%;">*</span>
                                <div ng-messages="createWorkOrder[items.propertyKey].$error" ng-if="createWorkOrder[items.propertyKey].$touched" style="display:inline;">
                                    <div ng-message="required" style="display:inline;">必填项不能为空</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="items.propertyType=='textArea'" class="col-sm-12 m-t-xs m-b-xs no-padder ">
                    <div class="form-group">
                        <label class="col-md-offset-1 col-sm-offset-1 col-md-1 col-sm-2 control-label" title="{{items.propertyName}}" style="margin-left:1.333333%;text-align:right;line-height: 37px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{items.propertyName}}</label>
                        <div class="col-md-6 col-sm-6 no-padder-sm"  style="width:90%;">
                            <textarea class="form-control" ng-disabled="items.readOnly|dit" name="{{items.propertyKey}}" ng-model="items.propertyValue" ng-required="items.isRequired|dit" style="width:87.2%;display:inline;margin-left: 2px;margin-top: 0px">{{items.propertyDefaultValue}}</textarea>
                            <div ng-if="items.isRequired|dit" style="display:inline;color:red;">
                                <span class="no-null" style="margin-left: 1%;">*</span>
                                <div ng-messages="createWorkOrder[items.propertyKey].$error" ng-if="createWorkOrder[items.propertyKey].$touched" style="display:inline;">
                                    <div ng-message="required" style="display:inline;">必填项不能为空</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="items.propertyType=='dateTime'" class="col-sm-6 m-t-xs m-b-xs no-padder ">
                    <div class="form-group">
                        <label class="col-md-offset-1 col-sm-offset-1 col-md-2 col-sm-2 control-label" title="{{items.propertyName}}" style="margin-left:3%;text-align:right;line-height: 37px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{items.propertyName}}</label>
                        <div class="col-md-6 col-sm-6 no-padder-sm"  style="width:80%;">
                            <input  class="form-control laydate-icon" ng-disabled="items.readOnly|dit" name="{{items.propertyKey}}" def-laydate  type="text"  ng-model="items.propertyValue"  style="width:70%;display:inline;margin-top: 0px" ng-required="items.isRequired|dit" />
                            <div ng-if="items.isRequired|dit" style="display:inline;color:red;">
                                <span class="no-null" style="margin-left: 2%;">*</span>
                                <div ng-messages="createWorkOrder[items.propertyKey].$error" ng-if="createWorkOrder[items.propertyKey].$touched" style="display:inline;">
                                    <div ng-message="required" style="display:inline;">必填项不能为空</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <div class="col-sm-12 col-sm-offset-2" style="margin-left: 45%;">
                    <button type="button" class="btn btn-default" ng-click="backToMain()">取消</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="createWorkOrder.$invalid">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>