<div class="panel panel-default"  style="width:100%">
    <div class="bg-light lter b-b wrapper-md" >
        <h1 class="m-n font-thin h3"> <span>咨询#16</span></h1>
    </div>
    <div class="panel-body" style="top:10px;width: 95%;height: 100%;border:1px solid #000;top:10px">
        <p><span style="position: relative;top:-25px;">基本详情</span></p>
        <p>dd</p><br >
        <p>dd</p><br >
        <p>dd</p><br >
        <p>dd</p><br >
        <p>dd</p><br >
        <p>dd</p><br >
        <div style="position: relative;left: 70px;width: 952px;height: 1px;">
            <img class="img" src="modules/workOrder/css/u1417.png">
        </div>
        <div style="margin-top: 20px;margin-left: 10px;">
            <span>描述</span>
        </div>
        <div style="margin-left: 40px;">
            <span>云主机怎么添加安全组
            </span>
        </div>
    </div>
    <div>
        <div>
            <span ng-click="folder()">
                <i class="fa fa-caret-down" ng-show="isShow"></i>
                <i class="fa fa-caret-right" ng-hide="isShow"></i>
                <span>留言记录</span>
                <div ng-hide="isShow">此处是留言记录</div>
            </span>
        </div>
        <div>
            <span ng-click="folder1()">
                <i class="fa fa-caret-down" ng-show="isShow1"></i>
                <i class="fa fa-caret-right" ng-hide="isShow1"></i>
                <span>处理记录</span>
                <div ng-hide="isShow1">此处是处理记录</div>
            </span>
        </div>
        <div>
            <span ng-click="folder2()">
                <i class="fa fa-caret-down" ng-show="isShow2"></i>
                <i class="fa fa-caret-right" ng-hide="isShow2"></i>
                <span>流程记录</span>
                <div ng-hide="isShow2">此处是流程记录</div>
            </span>
        </div>
    </div>
</div>