<div class="panel panel-default"  style="width:100%">
    <div class="bg-light lter b-b wrapper-md" >
        <h1 class="m-n font-thin h4"> <span>{{workOrder.workorderType}}#{{workOrder.linkId}}</span></h1>
    </div>
    <div class="panel-body">
        <h4>基本详情</h4>
        <div class="form-group ">
            <div  class="col-sm-6 col-md-6 col-lg-6 no-padder">
                <div class="form-group">
                    <label class="col-sm-4 col-md-4 col-lg-4 control-label">主题</label>
                    <div class="col-sm-8 col-md-8 col-lg-8 no-padder-sm">{{workOrder.title}}
                    </div>
                </div>
            </div>
            <div  class="col-sm-6 col-md-6 col-lg-6 no-padder">
                <div class="form-group">
                    <label class="col-sm-4 col-md-4 col-lg-4 control-label">优先级</label>
                    <div class="col-sm-8 col-md-8 col-lg-8 no-padder-sm">{{workOrder.priority|priorityStatus}}
                    </div>
                </div>
            </div>
            <div  class="col-sm-6 col-md-6 col-lg-6 no-padder">
                <div class="form-group">
                    <label class="col-sm-4 col-md-4 col-lg-4 control-label">问题分类</label>
                    <div class="col-sm-8 col-md-8 col-lg-8 no-padder-sm">{{workOrder.productType|productTypeStatus}}
                    </div>
                </div>
            </div>
            <div  class="col-sm-6 col-md-6 col-lg-6 no-padder">
                <div class="form-group">
                    <label class="col-sm-4 col-md-4 col-lg-4 control-label">受理状态</label>
                    <div class="col-sm-8 col-md-8 col-lg-8 no-padder-sm">{{workOrder.status|performerStatus}}
                    </div>
                </div>
            </div>
            <div  class="col-sm-6 col-md-6 col-lg-6 no-padder">
                <div class="form-group">
                    <label class="col-sm-4 col-md-4 col-lg-4 control-label">受理人</label>
                    <div class="col-sm-8 col-md-8 col-lg-8 no-padder-sm">{{workOrder.performerName}}
                    </div>
                </div>
            </div>
            <div  class="col-sm-6 col-md-6 col-lg-6 no-padder">
                <div class="form-group">
                    <label class="col-sm-4 col-md-4 col-lg-4 control-label">创建人</label>
                    <div class="col-sm-8 col-md-8 col-lg-8 no-padder-sm">{{workOrder.ownerName}}
                    </div>
                </div>
            </div>
            <div  class="col-sm-6 col-md-6 col-lg-6 no-padder">
                <div class="form-group">
                    <label class="col-sm-4 col-md-4 col-lg-4 control-label">当前环节</label>
                    <div class="col-sm-8 col-md-8 col-lg-8 no-padder-sm">{{workOrder.linkName}}
                    </div>
                </div>
            </div>
            <div  class="col-sm-6 col-md-6 col-lg-6 no-padder">
                <div class="form-group">
                    <label class="col-sm-4 col-md-4 col-lg-4 control-label">联系人</label>
                    <div class="col-sm-8 col-md-8 col-lg-8 no-padder-sm">{{workOrder.contactName}}
                    </div>
                </div>
            </div>
            <div  class="col-sm-6 col-md-6 col-lg-6 no-padder">
                <div class="form-group">
                    <label class="col-sm-4 col-md-4 col-lg-4 control-label">联系电话</label>
                    <div class="col-sm-8 col-md-8 col-lg-8 no-padder-sm">{{workOrder.contactPhone}}
                    </div>
                </div>
            </div>
            <div ng-show="instanceLinkPropertyList.length > 0">
                <div class="col-sm-6 col-md-6 col-lg-6 no-padder" ng-repeat="item in instanceLinkPropertyList">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-4 col-lg-4 control-label">{{item.name}}</label>
                        <div class="col-sm-8 col-md-8 col-lg-8 no-padder-sm">{{item.value}}</div>
                    </div>
                </div>
            </div>
            <div  class="col-sm-12 col-md-12 col-lg-12 no-padder">
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 col-lg-2 control-label">描述</label>
                    <div class="col-sm-10 col-md-10 col-lg-10 no-padder-sm">{{workOrder.description}}</div>
                </div>
            </div>
        </div>
        <!-- <div>
            <span ng-click="folder()">
                <i class="fa fa-caret-down" ng-show="isShow"></i>
                <i class="fa fa-caret-right" ng-hide="isShow"></i>
                <span>留言记录</span>
                <div ng-hide="isShow">此处是留言记录</div>
            </span>
        </div>-->
        <div class="col-sm-12 col-md-12 col-lg-12 no-padder">
            <div ng-click="folder1()">
                <h4>处理记录
                    <i class="fa fa-caret-down" ng-show="isShow1"></i>
                    <i class="fa fa-caret-right" ng-hide="isShow1"></i>
                </h4>
            </div>
            <ul ng-hide="isShow1">
                <li ng-repeat="item in records">
                    <p>{{item.performerName}},{{item.completeTime}},{{item.performResult}},{{item.remark}}<p>
                </li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 no-padder">
            <div ng-click="folder2()">
                <h4>流程记录
                    <i class="fa fa-caret-down" ng-show="isShow2"></i>
                    <i class="fa fa-caret-right" ng-hide="isShow2"></i>
                </h4>
            </div>
            <div ng-hide="isShow2">
                <img style="max-width: 100%; min-width: 50%;" src="{{imageSrc}}">
            </div>
        </div>
    </div>
</div>